.wrapper2{
    height: auto;
    width: auto;
}

.container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 800px;
    height: 620px;

}

.wrapper {
    position: relative;
    padding-top: 45% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.btn{
    margin:14px;
    justify-content: space-around;
    display: flex;
}
